body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* 16px = 100% = 1em/1rem */

h1{ color: #66BFBF;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #11999E;  
    word-spacing: 10px;
    margin: 10px 15px;
}

a:hover{
    color: #eaf6f6;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

#profile-pic{
    height: 100px;
    width: 100px;
}

.profile{
    color: #04514e
}

.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;

}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    margin-top: 100px;
    padding: 50px;
    background-color: #66BFBF;
}


.pro{
    text-decoration: underline;
}

.intro{
    margin: auto;
    width: 30%;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 100px;
    bottom: 300px;
}

.skill-row{
    margin: 100px auto;
    width: 50%;
    text-align: left;
}

.html-icon{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.css-icon{
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.bootstrap-icon{
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px; 
}

.javascript-icon{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.node-icon{
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.mongo-icon{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-message{
    margin: 40px auto;
    width: 40%;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    border: solid #66BFBF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #30E3CB 2px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }


 .copyright{
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0;
 }